
body{
    padding: 19px 25px;
}

.crt-pg{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 500;
}

.main-container{
    display: flex;
    align-items: flex-start;
   margin: auto;
   max-width: 1200px;
   margin: 0 auto;
   gap: 40px;
}
.left-content{
    flex: 3;
    /* margin-right: 20px; */
}
.right-content{
    flex: 1;
    /* background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px; */
}
.article-card{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.article-image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}
.article-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-content{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}